<h2> List a new property </h2>

<form action="/profile" method="post">

      <div class="mb"
        <label for="name">Name:</label>
        <div><input class="container_length" type="text" name="name"></div>

        <label for="address">Address:</label>
        <div><input class="container_length" type="text" name="address"></div>

        <label for="ppn">Price per night:</label>
        <div><input class="container_length" type="text" name="ppn"></div>

        <label for="description">Description:</label>
        <div><input class="container_length" type="text" name="description"></div>
      </div>

      <div>
        <label for="start_date">Available from</label>
        <input style="width: 38.5%" type="date" name="start_date">
        <label for="end_date">until</label>
        <input style="width: 38.5%" type="date" name="end_date">
      </div>

      <input style = "margin-top: 1em" class="btn btn-secondary container_length" type="submit" value="Add">

</form>
